POSTGRES_DB=oj_db
POSTGRES_USER=oj_user
POSTGRES_PASSWORD=replace_with_a_strong_database_password

SECRET_KEY=replace_with_a_long_random_session_secret
COOKIE_DOMAIN=nonbangkokgrader.com
CORS_ORIGINS=https://www.nonbangkokgrader.com,https://nonbangkokgrader.com,https://upload.nonbangkokgrader.com
TRUST_PROXY=1
HTTP_PORT=80
HTTPS_PORT=443

REACT_APP_API_URL=/api
REACT_APP_LARGE_UPLOAD_API_URL=https://upload.nonbangkokgrader.com/api

CLOUDFLARE_TUNNEL_TOKEN=replace_with_the_cloudflare_tunnel_token
