:global([data-theme='dark']) .rank-1, .rank-1 {
  background-color: rgba(255, 215, 0, 0.1); /* Gold/Yellow tint */
  font-weight: bold;
}

.rank-2 {
  background-color: rgba(21, 21, 21, 0.1); /* Silver tint */
}

:global([data-theme='dark']) .rank-2 {
  background-color: rgba(235, 235, 235, 0.1); /* Silver tint */
}

:global([data-theme='dark']) .rank-3, .rank-3 {
  background-color: rgba(205, 127, 50, 0.1); /* Bronze tint */
}